:root {
  --bck: #313942;
  --c1: #1a1c1e;
  --c2: #f3f3f3;
  --c3: #21394f;
  --c4: #202329;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--c2);
}
