@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Russo+One&display=swap');
:root {
  --bck: #313942;
  --c1: #1a1c1e;
  --c2: #f3f3f3;
  --c3: #21394f;
  --c4: #202329;

  --jakiskolor: rgba(209, 165, 165, 0.432);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: var(--c2);
}
